
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



body {
    background: #2291d1 url(../img/bg.jpg);
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-y:hidden;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.container {
    max-width: 650px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.city{
    position: relative;
    padding: 15px;
    background: url(../img/white-arrow-down.png) no-repeat 250px 21px;
    background-size: 28px;; 
    border: 1px solid white;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 30px;;
    color: white;
    width: 300px;
    cursor: pointer;
}

.city > option {
    color: #0473b3;
}

.select-city{
    margin-bottom: 100px;
}

.weather-widget{
    width: 100%;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-and-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date{
    margin: 0 0 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

.time{
    font-size: 80px;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
}

.city-name{
    margin: 10px 0 0 0;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.minor-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-temp{
    width: 200px;
}

.current-degrees{
    font-size: 80px;
    text-align: center;
    margin: 0;
}

.current-wind{
    text-align: center;
    margin: 10px 10px 0 0;
}

.description{
    text-align: center;
    margin: 10px 0 0 0;
}

.wind{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.wind-arrow{
    height: 18px;
}

.hours-temp-block{
    display: flex;
    flex-direction: row;
}

.hours, .hours-temp{
    margin: 0;
}

.hours-temp{
    font-size: 30px;
    margin-top: -7px;
}

.hours-description{
    margin: 10px 0 0 0;
    text-align: center;
}

.hours-ico{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}


.hours-temp-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.hours-temp-item:last-child{
    margin-right: 0;
}

/* media */
@media (max-width: 568px){
    body{
        overflow-y:scroll;
    }

    .container{
        height: auto;
    }

    .main-info{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0;
    }

    .minor-info {
        flex-direction: column;
        align-items: center;
        margin-top: -29px;
    }

    .current-temp{
        margin-bottom: 38px;
    }
}