
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    background: #2291d1 url(../img/bg.jpg);
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.container {
    max-width: 600px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.city{
    position: relative;
    padding: 15px;
    background: url(../img/white-arrow-down.png) no-repeat 250px 21px;
    background-size: 28px;; 
    border: 1px solid white;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 30px;;
    color: white;
    width: 300px;
    cursor: pointer;
}

.city > option {
    color: #0473b3;
}

.select-city{
    margin-bottom: 100px;
}

.weather-widget{
    width: 100%;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-and-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date{
    margin: 0 0 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

.time{
    font-size: 80px;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
}

.city-name{
    margin: 10px 0 0 0;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}